@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}

/*navbar*/
.head{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid black;
    padding-top: 1rem;
    width: 70%;
    margin: auto;
}
.head input[type=checkbox]{
    display: none;
}
.menu-container{
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
}
.menu-container:hover{
    opacity: 0.5;
}
.button, .button::before, .button::after{
    display: block;
    width: 30px;
    height: 4px;
    background-color: black;
    position: absolute;
}
.button::before{
    content: ' ';
    margin-top: -8px;
    transition: 0.5s;
}
.button::after{
    content: ' ';
    margin-top: 8px;
    transition: 0.5s;
}
.menu{
    display: flex;
    list-style-type: none ;
    justify-content: flex-end;
    margin-inline-end: 50px;
}
.menu>a{
    color: black;
    text-decoration: none;
    padding-inline: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    padding-block: 1rem;
}
.menu>a:hover{
    opacity: 0.5;
    font-size: 1.3rem;
    transition: 0.3s;
}
#navbar:checked + .menu-container .button::before{
    margin-top: 0px;
    transform: rotate(310deg);
    transition: 0.5s;
}
#navbar:checked + .menu-container .button::after{
    margin-top: 0;
    transform: rotate(-310deg);
    transition: 0.5s;
}
#navbar:checked + .menu-container .button{
    background-color: rgba( 0, 0, 0, 0);
}

main{
    width: 70%;
    margin: auto;
}
/*main top*/
.top{
    display: flex;
    margin-block: 50px;
    margin-inline: 20px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.top img{
    width: 250px;
    border-radius: 50%;
}
.top .name{
    width: 600px;
    font-size: 1.5rem;
}
.name *{
    padding: 8px;
}
.link{
    margin-top: 16px;
}
.link a{
    color: black;
    padding: 8px 24px;
    background-color: aquamarine;
    text-decoration: none;
    border-radius: 5%;
}
.link a:hover{
    opacity: 0.8;
}

/*main mid*/
.mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
.post{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-block-start: 30px;
    margin-block-end: 20px;
}
.post p{
    margin-inline: 80px;
}
.post a{
    color: black;
    text-decoration: none;
    margin-inline: 80px;
}

.obj{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.3rem;
}
.item{
    width: 45%;
    margin-inline: 30px;
    background-color: white;
    margin-bottom: 30px;
}
.item>h3{
    padding-block: 4px;
    margin-bottom: 12px;
    padding: 8px;
}
h3 + span{
    padding-inline-end: 20px;
    border-right: 1px solid black;
    margin-right: 4px;
    padding: 8px;
    font-weight: 600;
}
.item>p{
    margin-block: 12px;
    padding-block: 4px;
    padding: 8px;
}
.post a:hover{
    opacity: 0.6;
}

/*main bottom*/
.bottom{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.bottom>*{
    margin-inline: 50px;
}
.bottom>h4{
    font-size: 1.5rem;
    margin-block: 20px;
}
.box{
    display: flex;
}
.info{
    font-size: 1.2rem;
    margin-inline: 16px;
}
.info>h3{
    font-size: 1.7rem;
    padding: 8px;
}
.date>span{
    padding: 8px;
}
.info>p{
    padding: 8px;
}

/*footer*/
.footlink{
    margin-block-start: 80px;
    display: flex;
    justify-content: center;
}
.footlink>a{
    font-size: 2rem;
    text-align: center;
    padding-inline: 1rem;
    color: blue;
}
.footlink>a:hover{
    opacity: 0.5;
    color: rgb(73, 73, 244);
    font-size: 2.2rem;
    transition: 0.2s;
}
footer p{
    text-align: center;
    margin-bottom: 16px;
    font-size: 1.2rem;
}

/*media*/
@media (max-width:800px){
    .menu-container{
        display: flex;
    }
    .menu{
        position: absolute;
        top: 0;
        margin-right: 0;
        margin-top: 50px;
        right: 0;
        flex-direction: column;
        width: 30%;
        justify-content: flex-end;
        text-align: center;
    }
    #navbar ~ .menu a{
        /* display: none; */
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        cursor: default;

    }
    #navbar:checked ~ .menu a{
        /* display: flex; */
        border: 1px solid #333;
        color: black;
        height: 2.5em;
        padding: 0.5em;
        transition: height 300ms;
        cursor: pointer;
    }
    .menu>a {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #ffffff;
    }
    .top{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .name>*{
        text-align: center;
    }
    .post{
        justify-content: center;
    }
    .post a{
        display: none;
    }
    .obj{
        flex-direction: column;
        align-items: center;
    }
    .item{
        width: 70%;
    }
    .box{
        flex-direction: column;
        align-items: center;
    }
}
